# Ambiente Virtual e Cache do Python
backend/venv/
.venv/
**/__pycache__/
**venv/

# Arquivos de Modelo Treinado

backend/kaggle.json
data/New Plant Diseases Dataset(Augmented)/
data/test/
**rar/
**zip/
data/data_species/greenmind_final_dataset/
data/all_images/